services:
  # Main gfjproxy server
  - type: web
    name: GeminiForJanitors
    runtime: python
    region: oregon
    plan: free
    buildCommand: uv sync --locked --no-dev
    startCommand: uv run --no-sync gunicorn -b 0.0.0.0:${PORT} -k gevent -w 5 -t ${GFJPROXY_PROCESS_TIMEOUT} "gfjproxy.app:create_app()"
    healthCheckPath: /health
    autoDeployTrigger: checksPass
    envVars:
      - key: GFJPROXY_ADMIN
        sync: false
      - key: GFJPROXY_COOLDOWN
        sync: false
      - key: GFJPROXY_REDIS_URL
        fromService:
          name: GeminiForJanitors-redis
          type: keyvalue
          property: connectionString
      - key: GFJPROXY_RENDER_API_KEY
        sync: false
      - key: GFJPROXY_XUID_SECRET
        generateValue: true
      - key: GFJPROXY_PROCESS_TIMEOUT
        value: 90
      - key: PORT
        value: 5000
      - key: UV_VERSION
        value: "0.10.4"

  # Key Value storage for gfjproxy user settings
  - type: keyvalue
    name: GeminiForJanitors-redis
    region: oregon
    plan: free
    maxmemoryPolicy: allkeys-lru
    ipAllowList: []
