<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <a href="{{ url }}">{{ url }}</a>
    {% macro health_row(label, value) %}
    <tr>
      <th scope="row">{{ label }}</th>
      <td>{{ value }}</dd>
    </tr>
    {% endmacro %}
    <table class="health">
      {% for k, v in health.items() %} {% if v is string %} {{ health_row(k, v) }} {% elif k ==
      "bandwidth" or k == "bwarning" %} {% if v > 9999 %} {{ health_row(k, "{:,.0f} GB".format(v / 1024)) }} {% else %}
      {{ health_row(k, "{:,.0f} MB".format(v)) }} {% endif %} {% elif k == "cooldown" or k ==
      "uptime" %} {{ health_row(k, "{:,} s".format(v)) }} {% else %} {{ health_row(k,
      "{:,}".format(v)) }} {% endif %} {% endfor %}
    </table>
  </body>
</html>
