<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div align="center">
      <img src="/static/gfjproxy.png" />
      <h1>{{ title }}</h1>
      <h2>Google AI Studio Proxy for JanitorAI</h2>
      <p style="font-style: italic">Hosted by {{ admin }}</p>
      <hr />
      {% if announcement %}
        <p>{{ announcement|e }}</p>
        <hr />
      {% endif %}
      <img src="/static/guide-1.png" alt="Open a chat, open API Settings, select Proxy and then Add Configuration." />
      <img src="/static/guide-2.png" alt="Put a Gemini 2.5 model in Model Name (preview models work too), add the Proxy URL, your API Key, then press Save twice (to help with network errors)." />
      <img src="/static/guide-3.png" alt="You must first Save and reload before you test a different URL. Make sure it's Active before reload. Press Test and wait a bit. If you get “Valid API Key. Configuration works!” then you are good to go. If you get “Network error. Try again later!” then try: Edit, Save Changes, Edit, Save Changes, Save Settings, reload and test again. Doing Edit/Save twice seems to work." />
      <hr />
      <pre>{{ version }}</pre>
    </div>
  </body>
</html>