<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <a href="{{ url }}">{{ url }}</a>
    <form id="api-form" class="card gap-1-25">
      <fieldset class="form-group">
        <legend>Input your Gemini CLI credentials</legend>
        <div class="input-wrapper">
          <label for="creds">Raw JSON data:</label>
          <textarea
            id="creds"
            name="creds"
            rows="8"
            placeholder="{{ placeholder }}"
            spellcheck="false"
            required
          ></textarea>
        </div>
      </fieldset>
      <hr />
      <fieldset class="form-group">
        <button id="submit" type="submit" class="submit-btn">Create API Key</button>
      </fieldset>
    </form>
    <div id="api-result" class="card hidden!">
      <p>Your API key is:</p>
      <pre id="api-result-data">undefined</pre>
      <p>
        This API key is unique to this proxy (<a href="{{ url }}">{{ url }}</a>) and will not work
        on others. If you switch to another proxy, you will have to create a new API key for it.
      </p>
    </div>
    <div id="api-error" class="card hidden!">
      <p id="api-error-message" style="color: #f86a6a">Error.</p>
    </div>
    <script>
      const formElement = document.getElementById("api-form");
      const credsElement = document.getElementById("creds");
      const submitButtonElement = document.getElementById("submit");
      const resultElement = document.getElementById("api-result");
      const resultDataElement = document.getElementById("api-result-data");
      const errorElement = document.getElementById("api-error");
      const errorMessageElement = document.getElementById("api-error-message");

      formElement.onsubmit = async (event) => {
        event.preventDefault();

        submitButtonElement.disabled = true;
        resultElement.classList.add("hidden!");
        errorElement.classList.add("hidden!");

        try {
          const response = await fetch("/keyring/api", {
            method: "POST",
            body: JSON.stringify({
              creds: JSON.parse(credsElement.value),
              credsType: "gemini_cli",
            }),
            headers: {
              "Content-Type": "application/json",
            },
          });

          const result = await response.json();
          if (result.error !== undefined) {
            throw new Error(result.error);
          }

          resultElement.classList.remove("hidden!");
          resultDataElement.textContent = result.value;
        } catch (error) {
          errorElement.classList.remove("hidden!");
          errorMessageElement.textContent = error.message;
        }

        submitButtonElement.disabled = false;
      };
    </script>
  </body>
</html>
