/* Based on https://github.com/sindresorhus/modern-normalize */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.2;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #313338;
    color: #c7bfbf;
    margin: 2em auto;
    max-width: 1000px;
    padding: 1em;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

h1,
h2,
h3 {
    color: #f5f5f5;
}

b,
strong {
    font-weight: bolder;
}

img {
    max-width: 100%;
}

a {
    color: #c09ff8;
    text-decoration: none;
}

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
        monospace;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-collapse: collapse;
    margin: auto;
    color: #f5f5f5;
}

th,
td {
    padding: 0.75em 1em;
    text-align: left;
}

th {
    font-weight: normal;
    font-size: 110%;
}

td {
    border-left: 1px solid #444;
}

th[scope="col"] {
    text-align: center;
    border-bottom: 1px solid #444;
}

th[scope="row"],
td {
    text-align: right;
}

tbody tr:hover {
    background-color: #42454a;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
}

.stats-hierarchy {
    max-width: 500px;
    margin: auto;
}

.stats-hierarchy dl {
    margin: 0;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #888; /* Optional: adds a leader line */
    margin-bottom: 0.5em;
}

.stats-hierarchy dt {
    font-weight: normal;
    font-size: 110%;
}

.stats-hierarchy dd {
    margin: 0;
    font-weight: bold;
}

.stats-hierarchy dl dl {
    padding-left: 20px;
}
